Escc.SupportWithConfidence.Controls/Web References/AddressFinder/AddressFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eastsussex.gov.uk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.eastsussex.gov.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eastsussex.gov.uk/">
      <s:element name="EastingAndNorthingFromPafAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EastingAndNorthingFromPafAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EastingAndNorthingFromPafAddressResult" type="tns:GeoPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeoPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Easting" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Northing" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddressesFromPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressesFromPostcodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPartialPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPartialPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressesFromPartialPostcodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPostcodeAndBuildingName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buildingName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPostcodeAndBuildingNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressesFromPostcodeAndBuildingNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPostcodeAndBuildingNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buildingNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressesFromPostcodeAndBuildingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressesFromPostcodeAndBuildingNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AggregateEastingsAndNorthingsResult" type="tns:AggregateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AggregateEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Easting" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Northing" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AggregateEastingsAndNorthingsPartialPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partialPostCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthingsPartialPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AggregateEastingsAndNorthingsPartialPostcodeResult" type="tns:AggregateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthingsBuildingNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buildingNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthingsBuildingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AggregateEastingsAndNorthingsBuildingNumberResult" type="tns:AggregateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthingsBuildingName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buildingName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggregateEastingsAndNorthingsBuildingNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AggregateEastingsAndNorthingsBuildingNameResult" type="tns:AggregateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUniqueRoadUSRNGeo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intRoadUSRN" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUniqueRoadUSRNGeoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUniqueRoadUSRNGeoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoadNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roadname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoadNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoadNamesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roadname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaceNamesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUniquePlaceName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parishname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUniquePlaceNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUniquePlaceNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceNameData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceNameDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaceNameDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EastingAndNorthingFromPafAddressSoapIn">
    <wsdl:part name="parameters" element="tns:EastingAndNorthingFromPafAddress" />
  </wsdl:message>
  <wsdl:message name="EastingAndNorthingFromPafAddressSoapOut">
    <wsdl:part name="parameters" element="tns:EastingAndNorthingFromPafAddressResponse" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:AddressesFromPostcode" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:AddressesFromPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPartialPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:AddressesFromPartialPostcode" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPartialPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:AddressesFromPartialPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPostcodeAndBuildingNameSoapIn">
    <wsdl:part name="parameters" element="tns:AddressesFromPostcodeAndBuildingName" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPostcodeAndBuildingNameSoapOut">
    <wsdl:part name="parameters" element="tns:AddressesFromPostcodeAndBuildingNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPostcodeAndBuildingNumberSoapIn">
    <wsdl:part name="parameters" element="tns:AddressesFromPostcodeAndBuildingNumber" />
  </wsdl:message>
  <wsdl:message name="AddressesFromPostcodeAndBuildingNumberSoapOut">
    <wsdl:part name="parameters" element="tns:AddressesFromPostcodeAndBuildingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsSoapIn">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthings" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsSoapOut">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsResponse" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsPartialPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsPartialPostcode" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsPartialPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsPartialPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsBuildingNumberSoapIn">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsBuildingNumber" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsBuildingNumberSoapOut">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsBuildingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsBuildingNameSoapIn">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsBuildingName" />
  </wsdl:message>
  <wsdl:message name="AggregateEastingsAndNorthingsBuildingNameSoapOut">
    <wsdl:part name="parameters" element="tns:AggregateEastingsAndNorthingsBuildingNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUniqueRoadUSRNGeoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUniqueRoadUSRNGeo" />
  </wsdl:message>
  <wsdl:message name="GetUniqueRoadUSRNGeoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUniqueRoadUSRNGeoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoadNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoadNames" />
  </wsdl:message>
  <wsdl:message name="GetRoadNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoadNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaceNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaceNames" />
  </wsdl:message>
  <wsdl:message name="GetPlaceNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaceNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUniquePlaceNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUniquePlaceName" />
  </wsdl:message>
  <wsdl:message name="GetUniquePlaceNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUniquePlaceNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaceNameDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaceNameData" />
  </wsdl:message>
  <wsdl:message name="GetPlaceNameDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaceNameDataResponse" />
  </wsdl:message>
  <wsdl:portType name="AddressFinderSoap">
    <wsdl:operation name="EastingAndNorthingFromPafAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a GeoPoint object containing easting and northing properties for a paf address. Expects a paf OBJECTID as a parameter.</wsdl:documentation>
      <wsdl:input message="tns:EastingAndNorthingFromPafAddressSoapIn" />
      <wsdl:output message="tns:EastingAndNorthingFromPafAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing addresses matching a postcode.</wsdl:documentation>
      <wsdl:input message="tns:AddressesFromPostcodeSoapIn" />
      <wsdl:output message="tns:AddressesFromPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPartialPostcode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing addresses matching a postcode.</wsdl:documentation>
      <wsdl:input message="tns:AddressesFromPartialPostcodeSoapIn" />
      <wsdl:output message="tns:AddressesFromPartialPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcodeAndBuildingName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing addresses matching a postcode and building name combination.</wsdl:documentation>
      <wsdl:input message="tns:AddressesFromPostcodeAndBuildingNameSoapIn" />
      <wsdl:output message="tns:AddressesFromPostcodeAndBuildingNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcodeAndBuildingNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing addresses matching a postcode and building number combination.</wsdl:documentation>
      <wsdl:input message="tns:AddressesFromPostcodeAndBuildingNumberSoapIn" />
      <wsdl:output message="tns:AddressesFromPostcodeAndBuildingNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an object containing an aggregate easting and northing for a given postcode.</wsdl:documentation>
      <wsdl:input message="tns:AggregateEastingsAndNorthingsSoapIn" />
      <wsdl:output message="tns:AggregateEastingsAndNorthingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsPartialPostcode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an object containing an aggregate easting and northing for a partial postcode.</wsdl:documentation>
      <wsdl:input message="tns:AggregateEastingsAndNorthingsPartialPostcodeSoapIn" />
      <wsdl:output message="tns:AggregateEastingsAndNorthingsPartialPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsBuildingNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an object containing an aggregate easting and northing for a given postcode and building number.</wsdl:documentation>
      <wsdl:input message="tns:AggregateEastingsAndNorthingsBuildingNumberSoapIn" />
      <wsdl:output message="tns:AggregateEastingsAndNorthingsBuildingNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsBuildingName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an object containing an aggregate easting and northing for a given postcode and building name.</wsdl:documentation>
      <wsdl:input message="tns:AggregateEastingsAndNorthingsBuildingNameSoapIn" />
      <wsdl:output message="tns:AggregateEastingsAndNorthingsBuildingNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUniqueRoadUSRNGeo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing road details and GeoData for a given USRN.</wsdl:documentation>
      <wsdl:input message="tns:GetUniqueRoadUSRNGeoSoapIn" />
      <wsdl:output message="tns:GetUniqueRoadUSRNGeoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoadNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing road details and GeoData for a partial road name. Expects the first part of a road name as a parameter.</wsdl:documentation>
      <wsdl:input message="tns:GetRoadNamesSoapIn" />
      <wsdl:output message="tns:GetRoadNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaceNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing place names where a road exists starting with the name in the search parameter. Expects the first part of a road name as a parameter.</wsdl:documentation>
      <wsdl:input message="tns:GetPlaceNamesSoapIn" />
      <wsdl:output message="tns:GetPlaceNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUniquePlaceName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing Geo co-ords for a unique place name. Expects the place name and parish name as parameters.</wsdl:documentation>
      <wsdl:input message="tns:GetUniquePlaceNameSoapIn" />
      <wsdl:output message="tns:GetUniquePlaceNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaceNameData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a DataSet containing place name data for a place name.</wsdl:documentation>
      <wsdl:input message="tns:GetPlaceNameDataSoapIn" />
      <wsdl:output message="tns:GetPlaceNameDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressFinderSoap" type="tns:AddressFinderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EastingAndNorthingFromPafAddress">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/EastingAndNorthingFromPafAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcode">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPartialPostcode">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPartialPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcodeAndBuildingName">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPostcodeAndBuildingName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcodeAndBuildingNumber">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPostcodeAndBuildingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthings">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsPartialPostcode">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthingsPartialPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsBuildingNumber">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthingsBuildingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsBuildingName">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthingsBuildingName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniqueRoadUSRNGeo">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/GetUniqueRoadUSRNGeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoadNames">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/GetRoadNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceNames">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/GetPlaceNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniquePlaceName">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/GetUniquePlaceName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceNameData">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/GetPlaceNameData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddressFinderSoap12" type="tns:AddressFinderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EastingAndNorthingFromPafAddress">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/EastingAndNorthingFromPafAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcode">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPartialPostcode">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPartialPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcodeAndBuildingName">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPostcodeAndBuildingName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressesFromPostcodeAndBuildingNumber">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AddressesFromPostcodeAndBuildingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthings">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsPartialPostcode">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthingsPartialPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsBuildingNumber">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthingsBuildingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateEastingsAndNorthingsBuildingName">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/AggregateEastingsAndNorthingsBuildingName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniqueRoadUSRNGeo">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/GetUniqueRoadUSRNGeo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoadNames">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/GetRoadNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceNames">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/GetPlaceNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniquePlaceName">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/GetUniquePlaceName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceNameData">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/GetPlaceNameData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressFinder">
    <wsdl:port name="AddressFinderSoap" binding="tns:AddressFinderSoap">
      <soap:address location="https://localhost/AddressFinder.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressFinderSoap12" binding="tns:AddressFinderSoap12">
      <soap12:address location="https://localhost/AddressFinder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>